.profile-container {
  text-align: center;
  margin-top: 3rem;
  // position: fixed;
}

.profile_img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.nav-tabs {
  justify-content: center;
  border-bottom: 0px !important;
}

.edit-icon {
  color: #fff;
}

.scroll-data {
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
  height: 300px;
  // max-width: 80%;
  box-shadow: 0px 0px 7px 0px #f8f9fa;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 10px;
}

.change-desc {
  background-color: transparent;
  border: 0;
  color: #be65c6;
  text-align: center;
  margin-bottom: 20px;
  &:focus {
    outline: none;
    border-bottom: 2px solid;
    color: #fff;
    margin-right: 10px;
  }
}

.my-artists {
  margin-top: 10px;
  flex: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  section {
    display: flex;
    .artist {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        margin-bottom: 10px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.my-media {
  margin-top: 10px;
  flex: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  section {
    display: flex;
    .media {
      img {
        width: 150px;
        height: 150px;
        border-radius: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        // box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.uplaod-input {
  display: none;
}

.avatar-upload {
  position: relative;
}

.upload-profile-label {
  position: absolute;
  top: 50px;
  right: 330px;
  border: 1px solid white;
  background: white;
  border-radius: 20px;
  z-index: 1;
  width: 28px;
  height: 28px;
}

upload-profile-icon {
  color: black;
}
