* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.settings-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .picture-area {
        padding: 50px 0;
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    };
    .preferences-wrapper {
        width: 50%;
        padding: 50px 0;
    }
}

.description {
    max-height: 160px;
}

#formBasicRange::-webkit-slider-thumb {
    background: #c37fc8;
}

#formBasicRange:focus {
    outline-offset: 0px;
    outline-width: 0px;
}

.submit-button-group {
    display: flex;
    justify-content: center;
}