<style>
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div style="float: right; display: inline">
        <img src="assets/images/chaticon.png" width="80">
    </div>
    <div *ngIf="connected" style="float: left; display: inlinel; margin: 2vh;">
        <h5>Hello, {{ currentUserName }}</h5>
    </div>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
    rel="stylesheet" />

<!-- Toolbar -->
<div class="content" role="main">
    <div *ngIf="!connected" class="login">
        <h2 class="title">Login to Solmate Chat</h2>
        <form id="login-form" (ngSubmit)="connectToChat()">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" class="form-control" id="text" name="username" placeholder="Email"
                    [(ngModel)]="username" />
                <label for="password">Password</label>
                <input type="password" class="form-control" id="text" name="password" placeholder="Password"
                    [(ngModel)]="password" />
            </div>
            <h6 *ngIf="error" style="margin-bottom: 4vh; color:red">Wrong input, check your email and password or
                register in Solmate app</h6>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

    <div *ngIf="connected" class="container">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="channel_heading">
                            <h4>Chats</h4>
                        </div>
                    </div>
                    <div class="form-group" id="search_div">
                        <input type="text" class="form-control" placeholder="Search chat" [(ngModel)]="chatName"
                            id="filter">
                        <hr />
                    </div>
                    <div class="inbox_chat">
                        <div class="channels" id="{{chat.ChatId}}"
                            *ngFor="let chat of clientChatList | chatPipe: chatName" (click)="openChat(chat.ChatId)">
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_ib">
                                        <div id="msg_header">
                                            <h5 style="display: inline;">
                                                {{ chat.Username }}
                                            </h5>
                                            <p *ngIf="chat.Messages.length == 0"
                                                style="display: inline; float: right; margin-right: -20px;">
                                                New match!
                                            </p>
                                            <p *ngIf="chat.Messages.length > 0 && chat.IsNew"
                                                style="display: inline; float: right; margin-right: -20px;">
                                                New message
                                            </p>
                                        </div>

                                        <div id="msg_details" *ngIf="chat.Messages.length > 0">
                                            <p style="float: left;">
                                                {{ chat.Messages[chat.Messages.length - 1].text }}
                                            </p>
                                            <p style="float: right; margin-right: -20px;">
                                                {{ chat.Messages[chat.Messages.length - 1].msgDate }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mesgs">
                    <div class="chat_heading" *ngIf="currentChat">
                        <h4 id="chat_username">
                            {{ currentChat.Username }}
                        </h4>
                        <button class="btn" id="delete_btn"><i class="fa fa-trash" (click)="deleteChat()"></i></button>
                    </div>

                    <div class="chat_divider" *ngIf="currentChat">
                    </div>

                    <div class="msg_history scroll">
                        <li class="message" *ngFor="let message of messages; let last = last">
                            <div *ngIf=" message.sender._id !== currentUser._id;
                                         then incoming_msg;
                                         else outgoing_msg"></div>
                            <ng-template #incoming_msg>
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img">
                                        <img src="https://i.imgur.com/k2PZLZa.png" alt="User avatar" />
                                    </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>{{ message.text }}</p>
                                            <small>{{ message.msgDate }}</small>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #outgoing_msg>
                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <p>{{ message.text }}</p>
                                        <small>{{ message.msgDate }}</small>
                                    </div>
                                </div>
                            </ng-template>
                            <span *ngIf="last">{{scrollToBottom()}}</span>
                        </li>
                    </div>
                    <div class="type_msg" *ngIf="currentChat">
                        <form class="input_msg_write" (ngSubmit)="sendMessage()">
                            <input id="message" style="width: 90%;" type="text" class="write_msg"
                                placeholder="Type a message" name="newMessage" [(ngModel)]="newMessage" />
                            <button class="msg_send_btn" type="submit">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>