$header_color: #be65c6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    min-height: 100vh; /* full screen*/
    // background: linear-gradient(to right top, #a865df, #e2ace4);
    background-image: url('./images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
  }
  
  .glass {
    background: white;
    min-height: 80vh; /* 80 percent of the screen */
    width: 60%;
    min-width: 1000px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
  }
  
  .user {
      .profile_img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
      }
  }

  .dashboard {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
      border-radius: 2rem;
  }

  .link {
      display: flex;
      margin: 2rem 0rem;
      padding: 1rem 5rem;
      align-items: center;
  }

  .link {
      h2 {
          padding: 0rem 2rem;
          margin-bottom: 0rem;
      }
  }

  .routes_container {
      flex: 2;
  }

  h1 {
    color: $header_color;
    font-weight: 600;
    font-size: 6rem;
    opacity: 0.8;
  }
  h2,
  p {
    color: $header_color;
    font-weight: 500;
    opacity: 0.8;
  }
  
  h3 {
    color: $header_color;
    font-weight: 600;
    opacity: 0.8;
  }

  a {
      text-decoration: none;
      color: $header_color !important;
  }